{% extends "base.html" %}

{% block title %}Event Details{% endblock %}

{% block content %}
<div id="event-details-container" >
  <div id="side-labels">
    <label for="event-title">Event Title:</label>
    <label for="event-date">Event Date:</label>
    <label for="event-duration">Event Duration:</label>
  </div>
  <label id="event-description"></label>
  <div id="event-actions">
    <button id="subscribe-event-button">Subscribe</button>
    <button id="share-event-button">Share</button>
    <button id="edit-event-button">Edit</button>
  </div>
</div>
{% endblock %}